# Run EHR-QC

## Read individual files and merge

In [1]:
import os

import pandas as pd


dfs = []
casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'
observationsDirPath = casestudy1DirPath + '/' + 'ehr_observations'
for file in os.listdir(observationsDirPath):
    df = pd.read_csv(observationsDirPath + '/' + file)
    dfs.append(df)
mergedDf = pd.concat(dfs)
mergedDf = mergedDf.drop(columns=['encounter_id'])
mergedDf

,observation_id,patient_id,observation_type_id,observation_type,value,effectiveDateTime
0,154175191,2122175,71960002,Eosinophils,0.12,2018-12-07
1,154197574,2122175,5540006,Calcium,2.18,2018-12-07
2,154168027,2122175,56972008,Lymphocytes,0.64,2018-12-07
3,9802390,2122175,246508008,Temperature Tympanic,36.10,2018-12-07
4,9787647,2122175,364075005,Heart Rate Monitored,71.00,2018-12-07
...,...,...,...,...,...,...
1163,17203364,2161432,246508008,Temperature Temporal,36.00,2019-08-30
1164,17203409,2161432,271650006,"Diastolic Blood Pressure, Cuff",60.00,2019-08-30
1165,17203655,2161432,271649006,"Systolic Blood Pressure, Cuff",119.00,2019-08-30
1166,17203361,2161432,431314004,SpO2,99.00,2019-08-30
1167,17203656,2161432,86290005,Respiratory Rate,18.00,2019-08-30

## Save merged file

In [2]:
casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'

mergedDf.to_csv(casestudy1DirPath + '/merged_observations.csv', index=False)

## Read merged file

In [3]:
import pandas as pd


casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'

mergedDf = pd.read_csv(casestudy1DirPath + '/merged_observations.csv')
mergedDf

,observation_id,patient_id,observation_type_id,observation_type,value,effectiveDateTime
0,154175191,2122175,71960002,Eosinophils,0.12,2018-12-07
1,154197574,2122175,5540006,Calcium,2.18,2018-12-07
2,154168027,2122175,56972008,Lymphocytes,0.64,2018-12-07
3,9802390,2122175,246508008,Temperature Tympanic,36.10,2018-12-07
4,9787647,2122175,364075005,Heart Rate Monitored,71.00,2018-12-07
...,...,...,...,...,...,...
513339,17203364,2161432,246508008,Temperature Temporal,36.00,2019-08-30
513340,17203409,2161432,271650006,"Diastolic Blood Pressure, Cuff",60.00,2019-08-30
513341,17203655,2161432,271649006,"Systolic Blood Pressure, Cuff",119.00,2019-08-30
513342,17203361,2161432,431314004,SpO2,99.00,2019-08-30
513343,17203656,2161432,86290005,Respiratory Rate,18.00,2019-08-30

## Concept coverage analysis

In [4]:
lookupDf = mergedDf[['observation_type_id', 'observation_type']]\
    .drop_duplicates()\
    .groupby(['observation_type_id'])\
    .agg({'observation_type': 'first'})\
    .reset_index()\
    .apply(lambda row: (str(row.observation_type_id), row.observation_type), result_type='expand', axis=1)\
    .rename(
        columns={0: 'observation_type_id', 1: 'observation_type'}
    )
lookupDf

   observation_type_id              observation_type
0               767002                           WBC
1              5540006                       Calcium
2              6797001  Mean Arterial Pressure, Cuff
3             14089001                           RBC
4             15373003                    Creatinine
..                 ...                           ...
68    1024211000000107                            pH
69    1028091000000102                           GGT
70    1028281000000106                          Urea
71    1032081000000104                    Carboxy-Hb
72    1107411000000104                          eGFR

[73 rows x 2 columns]

In [5]:
coverageDf = mergedDf\
    .groupby(['observation_type_id'])\
    .agg({'patient_id': 'nunique'})\
    .reset_index()\
    .apply(lambda row: (
        str(row.observation_type_id),
        row.patient_id,
        round(row.patient_id/len(mergedDf.patient_id.unique())*100, 2),
        ), result_type='expand', axis=1
    ).rename(
        columns={0: 'observation_type_id', 1: 'patient_count', 2: 'patient_coverage'}
    ).merge(
        lookupDf,
        how='left',
        on=['observation_type_id']
    )

In [6]:
# pd.set_option('display.max_rows', 500)
coverageDf[coverageDf.patient_coverage > 90]
# coverageDf

,observation_type_id,patient_count,patient_coverage,observation_type
0,767002,305,100.00,WBC
1,5540006,302,99.02,Calcium
2,6797001,305,100.00,"Mean Arterial Pressure, Cuff"
3,14089001,305,100.00,RBC
4,15373003,305,100.00,Creatinine
5,16378004,305,100.00,Platelets
8,30630007,305,100.00,Neutrophils
9,38151008,302,99.02,Magnesium Level
10,39972003,305,100.00,Sodium Direct
13,50213009,305,100.00,Chloride
14,52454007,303,99.34,Albumin
17,55918008,305,100.00,Monocytes
18,56935002,303,99.34,ALT
19,56972008,305,100.00,Lymphocytes
22,68615006,305,100.00,Bicarbonate
24,71960002,305,100.00,Eosinophils
25,79706000,303,99.34,Bilirubin
26,81905004,303,99.34,Globulin
28,86290005,305,100.00,Respiratory Rate
29,88480006,305,100.00,Potassium
32,104866001,302,99.02,Phosphate Level
35,165418001,305,100.00,Hct
37,246508008,304,99.67,Temperature Tympanic
45,271649006,303,99.34,"Systolic Blood Pressure, Cuff"
46,271650006,303,99.34,"Diastolic Blood Pressure, Cuff"
47,304383000,303,99.34,Total Protein
48,364075005,305,100.00,Heart Rate Monitored
51,431314004,305,100.00,SpO2
58,993501000000105,305,100.00,RDW
59,997611000000101,303,99.34,ALP
62,1022431000000105,305,100.00,Hb
63,1022471000000107,305,100.00,MCH
64,1022481000000109,305,100.00,MCHC
65,1022491000000106,305,100.00,MCV
66,1022571000000108,305,100.00,Basophils
69,1028091000000102,303,99.34,GGT
70,1028281000000106,305,100.00,Urea

## Transform merged data

In [7]:
pivotDf = mergedDf[mergedDf.observation_type_id.isin(coverageDf[coverageDf.patient_coverage > 90].observation_type_id.apply(lambda x: int(x)))]\
    [['observation_id', 'patient_id', 'observation_type', 'value', 'effectiveDateTime']]\
    .pivot_table(index=['observation_id', 'patient_id', 'effectiveDateTime'], columns=['observation_type'], values=['value'], aggfunc='mean')
pivotDf

                                            value                        \
observation_type                              ALP ALT Albumin Basophils
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09          NaN NaN     NaN       NaN
22821          1710435    2021-03-02          NaN NaN     NaN       NaN
31396          2133327    2018-11-01          NaN NaN     NaN       NaN
53413          2468015    2021-03-02          NaN NaN     NaN       NaN
53417          2468015    2021-03-02          NaN NaN     NaN       NaN
...                                           ...  ..     ...       ...
218423095      2193278    2023-08-14          NaN NaN     NaN       NaN
218423352      2193278    2023-08-14          NaN NaN     NaN       NaN
218423567      2193278    2023-08-14          NaN NaN     NaN       NaN
218423568      2193278    2023-08-14          NaN NaN     NaN       NaN
218423801      2193278    2023-08-14          NaN NaN     NaN      0.02

                                                                           \
observation_type                            Bicarbonate Bilirubin Calcium
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                NaN       NaN     NaN
22821          1710435    2021-03-02                NaN       NaN     NaN
31396          2133327    2018-11-01                NaN       NaN     NaN
53413          2468015    2021-03-02                NaN       NaN     NaN
53417          2468015    2021-03-02                NaN       NaN     NaN
...                                                 ...       ...     ...
218423095      2193278    2023-08-14                NaN       NaN     NaN
218423352      2193278    2023-08-14                NaN       NaN     NaN
218423567      2193278    2023-08-14                NaN       NaN     NaN
218423568      2193278    2023-08-14                NaN       NaN     NaN
218423801      2193278    2023-08-14                NaN       NaN     NaN

                                                                      \
observation_type                            Chloride Chloride Direct
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09             NaN             NaN
22821          1710435    2021-03-02             NaN             NaN
31396          2133327    2018-11-01             NaN             NaN
53413          2468015    2021-03-02             NaN             NaN
53417          2468015    2021-03-02             NaN             NaN
...                                              ...             ...
218423095      2193278    2023-08-14             NaN             NaN
218423352      2193278    2023-08-14             NaN             NaN
218423567      2193278    2023-08-14             NaN             NaN
218423568      2193278    2023-08-14             NaN             NaN
218423801      2193278    2023-08-14             NaN             NaN

                                                        ...  \
observation_type                            Creatinine  ...
observation_id patient_id effectiveDateTime             ...
13493          2193278    2022-09-09               NaN  ...
22821          1710435    2021-03-02               NaN  ...
31396          2133327    2018-11-01               NaN  ...
53413          2468015    2021-03-02               NaN  ...
53417          2468015    2021-03-02               NaN  ...
...                                                ...  ...
218423095      2193278    2023-08-14               NaN  ...
218423352      2193278    2023-08-14               NaN  ...
218423567      2193278    2023-08-14               NaN  ...
218423568      2193278    2023-08-14               NaN  ...
218423801      2193278    2023-08-14               NaN  ...

                                                                            \
observation_type                            Systolic Blood Pressure Supine
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                                   NaN
22821          1710435    2021-03-02                                   NaN
31396          2133327    2018-11-01                                   NaN
53413          2468015    2021-03-02                                   NaN
53417          2468015    2021-03-02                                   NaN
...                                                                    ...
218423095      2193278    2023-08-14                                   NaN
218423352      2193278    2023-08-14                                   NaN
218423567      2193278    2023-08-14                                   NaN
218423568      2193278    2023-08-14                                   NaN
218423801      2193278    2023-08-14                                   NaN

                                                                           \
observation_type                            Systolic Blood Pressure, Cuff
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                                  NaN
22821          1710435    2021-03-02                                  NaN
31396          2133327    2018-11-01                                  NaN
53413          2468015    2021-03-02                                  NaN
53417          2468015    2021-03-02                                  NaN
...                                                                   ...
218423095      2193278    2023-08-14                                  NaN
218423352      2193278    2023-08-14                                  NaN
218423567      2193278    2023-08-14                                  NaN
218423568      2193278    2023-08-14                                  NaN
218423801      2193278    2023-08-14                                  NaN

                                                                  \
observation_type                            Temperature Axillary
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                         NaN
22821          1710435    2021-03-02                         NaN
31396          2133327    2018-11-01                         NaN
53413          2468015    2021-03-02                         NaN
53417          2468015    2021-03-02                         NaN
...                                                          ...
218423095      2193278    2023-08-14                         NaN
218423352      2193278    2023-08-14                         NaN
218423567      2193278    2023-08-14                         NaN
218423568      2193278    2023-08-14                         NaN
218423801      2193278    2023-08-14                         NaN

                                                                        \
observation_type                            Temperature Nasoesophageal
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                               NaN
22821          1710435    2021-03-02                               NaN
31396          2133327    2018-11-01                               NaN
53413          2468015    2021-03-02                               NaN
53417          2468015    2021-03-02                               NaN
...                                                                ...
218423095      2193278    2023-08-14                               NaN
218423352      2193278    2023-08-14                               NaN
218423567      2193278    2023-08-14                               NaN
218423568      2193278    2023-08-14                               NaN
218423801      2193278    2023-08-14                               NaN

                                                                  \
observation_type                            Temperature Temporal
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                         NaN
22821          1710435    2021-03-02                         NaN
31396          2133327    2018-11-01                         NaN
53413          2468015    2021-03-02                         NaN
53417          2468015    2021-03-02                        38.0
...                                                          ...
218423095      2193278    2023-08-14                         NaN
218423352      2193278    2023-08-14                         NaN
218423567      2193278    2023-08-14                         NaN
218423568      2193278    2023-08-14                         NaN
218423801      2193278    2023-08-14                         NaN

                                                                           \
observation_type                            Temperature Tympanic Total Hb
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                         NaN      NaN
22821          1710435    2021-03-02                         NaN      NaN
31396          2133327    2018-11-01                         NaN      NaN
53413          2468015    2021-03-02                         NaN      NaN
53417          2468015    2021-03-02                         NaN      NaN
...                                                          ...      ...
218423095      2193278    2023-08-14                         NaN      NaN
218423352      2193278    2023-08-14                         NaN      NaN
218423567      2193278    2023-08-14                         NaN      NaN
218423568      2193278    2023-08-14                         NaN      NaN
218423801      2193278    2023-08-14                         NaN      NaN


observation_type                            Total Protein Urea WBC
observation_id patient_id effectiveDateTime
13493          2193278    2022-09-09                  NaN  NaN NaN
22821          1710435    2021-03-02                  NaN  NaN NaN
31396          2133327    2018-11-01                  NaN  NaN NaN
53413          2468015    2021-03-02                  NaN  NaN NaN
53417          2468015    2021-03-02                  NaN  NaN NaN
...                                                   ...  ...  ..
218423095      2193278    2023-08-14                  NaN  NaN NaN
218423352      2193278    2023-08-14                  NaN  NaN NaN
218423567      2193278    2023-08-14                  NaN  NaN NaN
218423568      2193278    2023-08-14                  NaN  NaN NaN
218423801      2193278    2023-08-14                  NaN  NaN NaN

[440874 rows x 57 columns]

In [8]:
pivotDf.columns = [f'{x}_{y}' for x,y in pivotDf.columns]
pivotDf = pivotDf.reset_index()
pivotDf = pivotDf.drop(columns=['observation_id'])
pivotDf

,patient_id,effectiveDateTime,value_ALP,value_ALT,value_Albumin,value_Basophils,value_Bicarbonate,value_Bilirubin,value_Calcium,value_Chloride,...,value_Systolic Blood Pressure Supine,"value_Systolic Blood Pressure, Cuff",value_Temperature Axillary,value_Temperature Nasoesophageal,value_Temperature Temporal,value_Temperature Tympanic,value_Total Hb,value_Total Protein,value_Urea,value_WBC
0,2193278,2022-09-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1710435,2021-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2133327,2018-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2468015,2021-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2468015,2021-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440869,2193278,2023-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440870,2193278,2023-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440871,2193278,2023-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440872,2193278,2023-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440873,2193278,2023-08-14,NaN,NaN,NaN,0.02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
datamatrixDf = pivotDf.groupby(['patient_id', 'effectiveDateTime']).mean().reset_index()
datamatrixDf

,patient_id,effectiveDateTime,value_ALP,value_ALT,value_Albumin,value_Basophils,value_Bicarbonate,value_Bilirubin,value_Calcium,value_Chloride,...,value_Systolic Blood Pressure Supine,"value_Systolic Blood Pressure, Cuff",value_Temperature Axillary,value_Temperature Nasoesophageal,value_Temperature Temporal,value_Temperature Tympanic,value_Total Hb,value_Total Protein,value_Urea,value_WBC
0,41308,2021-05-31,200.0,25.0,26.0,0.04,26.0,11.0,NaN,NaN,...,NaN,121.0,NaN,NaN,29.9,NaN,136.0,80.0,9.7,15.98
1,41308,2021-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,56749,2020-11-24,58.0,13.0,35.0,0.02,28.0,5.0,2.22,102.0,...,NaN,150.0,NaN,NaN,37.4,NaN,NaN,63.0,12.2,6.44
3,56749,2020-11-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,178.0,NaN,NaN,36.8,NaN,NaN,NaN,NaN,NaN
4,56749,2021-07-29,125.0,354.0,30.0,0.02,29.0,10.0,2.39,NaN,...,NaN,191.0,NaN,NaN,36.3,NaN,NaN,69.0,25.5,5.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18741,2526936,2021-08-21,NaN,NaN,NaN,0.03,29.0,NaN,NaN,99.0,...,NaN,161.0,NaN,NaN,36.4,NaN,NaN,NaN,2.5,6.84
18742,2526936,2021-08-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,134.0,NaN,NaN,36.2,NaN,NaN,NaN,NaN,NaN
18743,2526936,2021-08-23,NaN,NaN,NaN,0.04,29.0,NaN,NaN,99.0,...,NaN,129.0,NaN,NaN,36.7,NaN,NaN,NaN,2.8,5.85
18744,2526936,2021-08-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,122.0,NaN,NaN,36.3,NaN,NaN,NaN,NaN,NaN
18745,2526936,2021-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,155.0,NaN,NaN,36.3,NaN,NaN,NaN,NaN,NaN

In [10]:
import re

columnNames = ['patient_id', 'effectiveDateTime']
columnNames.extend([col.replace('value_', 'vitals_') + '_avg' for col in datamatrixDf.columns.to_list() if col.startswith('value_')])
datamatrixDf = datamatrixDf.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
datamatrixDf.columns = columnNames
datamatrixDf = datamatrixDf.rename(columns={"effectiveDateTime": "measurement_date"})
datamatrixDf

,patient_id,measurement_date,vitals_ALP_avg,vitals_ALT_avg,vitals_Albumin_avg,vitals_Basophils_avg,vitals_Bicarbonate_avg,vitals_Bilirubin_avg,vitals_Calcium_avg,vitals_Chloride_avg,...,vitals_Systolic Blood Pressure Supine_avg,"vitals_Systolic Blood Pressure, Cuff_avg",vitals_Temperature Axillary_avg,vitals_Temperature Nasoesophageal_avg,vitals_Temperature Temporal_avg,vitals_Temperature Tympanic_avg,vitals_Total Hb_avg,vitals_Total Protein_avg,vitals_Urea_avg,vitals_WBC_avg
0,41308,2021-05-31,200.0,25.0,26.0,0.04,26.0,11.0,NaN,NaN,...,NaN,121.0,NaN,NaN,29.9,NaN,136.0,80.0,9.7,15.98
1,41308,2021-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,56749,2020-11-24,58.0,13.0,35.0,0.02,28.0,5.0,2.22,102.0,...,NaN,150.0,NaN,NaN,37.4,NaN,NaN,63.0,12.2,6.44
3,56749,2020-11-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,178.0,NaN,NaN,36.8,NaN,NaN,NaN,NaN,NaN
4,56749,2021-07-29,125.0,354.0,30.0,0.02,29.0,10.0,2.39,NaN,...,NaN,191.0,NaN,NaN,36.3,NaN,NaN,69.0,25.5,5.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18741,2526936,2021-08-21,NaN,NaN,NaN,0.03,29.0,NaN,NaN,99.0,...,NaN,161.0,NaN,NaN,36.4,NaN,NaN,NaN,2.5,6.84
18742,2526936,2021-08-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,134.0,NaN,NaN,36.2,NaN,NaN,NaN,NaN,NaN
18743,2526936,2021-08-23,NaN,NaN,NaN,0.04,29.0,NaN,NaN,99.0,...,NaN,129.0,NaN,NaN,36.7,NaN,NaN,NaN,2.8,5.85
18744,2526936,2021-08-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,122.0,NaN,NaN,36.3,NaN,NaN,NaN,NaN,NaN
18745,2526936,2021-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,155.0,NaN,NaN,36.3,NaN,NaN,NaN,NaN,NaN

## Save Data Matrix

In [11]:
casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'

datamatrixDf.to_csv(casestudy1DirPath + '/data_matrix.csv', index=False)

## Read Data Matrix

In [12]:
import pandas as pd

casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'

datamatrixDf = pd.read_csv(casestudy1DirPath + '/data_matrix.csv')
datamatrixDf

,patient_id,measurement_date,vitals_ALP_avg,vitals_ALT_avg,vitals_Albumin_avg,vitals_Basophils_avg,vitals_Bicarbonate_avg,vitals_Bilirubin_avg,vitals_Calcium_avg,vitals_Chloride_avg,...,vitals_Systolic Blood Pressure Supine_avg,"vitals_Systolic Blood Pressure, Cuff_avg",vitals_Temperature Axillary_avg,vitals_Temperature Nasoesophageal_avg,vitals_Temperature Temporal_avg,vitals_Temperature Tympanic_avg,vitals_Total Hb_avg,vitals_Total Protein_avg,vitals_Urea_avg,vitals_WBC_avg
0,41308,2021-05-31,200.0,25.0,26.0,0.04,26.0,11.0,NaN,NaN,...,NaN,121.0,NaN,NaN,29.9,NaN,136.0,80.0,9.7,15.98
1,41308,2021-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,56749,2020-11-24,58.0,13.0,35.0,0.02,28.0,5.0,2.22,102.0,...,NaN,150.0,NaN,NaN,37.4,NaN,NaN,63.0,12.2,6.44
3,56749,2020-11-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,178.0,NaN,NaN,36.8,NaN,NaN,NaN,NaN,NaN
4,56749,2021-07-29,125.0,354.0,30.0,0.02,29.0,10.0,2.39,NaN,...,NaN,191.0,NaN,NaN,36.3,NaN,NaN,69.0,25.5,5.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18741,2526936,2021-08-21,NaN,NaN,NaN,0.03,29.0,NaN,NaN,99.0,...,NaN,161.0,NaN,NaN,36.4,NaN,NaN,NaN,2.5,6.84
18742,2526936,2021-08-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,134.0,NaN,NaN,36.2,NaN,NaN,NaN,NaN,NaN
18743,2526936,2021-08-23,NaN,NaN,NaN,0.04,29.0,NaN,NaN,99.0,...,NaN,129.0,NaN,NaN,36.7,NaN,NaN,NaN,2.8,5.85
18744,2526936,2021-08-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,122.0,NaN,NaN,36.3,NaN,NaN,NaN,NaN,NaN
18745,2526936,2021-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,155.0,NaN,NaN,36.3,NaN,NaN,NaN,NaN,NaN

## Coverage analysis

In [13]:
import os

casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'


os.system(
    '''cd $EHR_QC_PREPROCESS_BASE;'''
    +
    '''.venv/bin/python -m ehrqc.coverage.Coverage ''' + casestudy1DirPath + '/data_matrix.csv' + ''' 100 -i "patient_id" -d -p 30 -sp ''' + casestudy1DirPath + '/data_matrix_dense.csv'
    )

2024-08-28 04:14:15,585 - EHR-QC - INFO - Parsing command line arguments
2024-08-28 04:14:15,586 - EHR-QC - INFO - Start!!
2024-08-28 04:14:15,586 - EHR-QC - INFO - args.source_file: /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix.csv
2024-08-28 04:14:15,586 - EHR-QC - INFO - args.chunksize: 100
2024-08-28 04:14:15,586 - EHR-QC - INFO - args.id_columns: ['patient_id']
2024-08-28 04:14:15,586 - EHR-QC - INFO - args.drop: True
2024-08-28 04:14:15,586 - EHR-QC - INFO - args.percentage: 30.0
2024-08-28 04:14:15,586 - EHR-QC - INFO - args.save_path: /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_dense.csv
2024-08-28 04:14:15,586 - EHR-QC - INFO - Calculating Missingnes
2024-08-28 04:14:16,283 - EHR-QC - INFO - Missingness Report
2024-08-28 04:14:16,286 - EHR-QC - INFO -

                                       column_name  missing_count  \
0                                 measurement_date              0
1                                   vitals_ALP_avg             16
2                                   vitals_ALT_avg             20
3                               vitals_Albumin_avg             15
4                             vitals_Basophils_avg              4
5                           vitals_Bicarbonate_avg              4
6                             vitals_Bilirubin_avg             18
7                               vitals_Calcium_avg             14
8                       vitals_Chloride Direct_avg            183
9                              vitals_Chloride_avg              9
10                           vitals_Creatinine_avg              4
11  vitals_Diastolic Blood Pressure Invasive 2_avg            478
12       vitals_Diastolic Blood Pressure Lying_avg            453
13     vitals_Diastolic Blood Pressure Sitting_avg            431
14    vitals_Diastolic Blood Pressure Standing_avg            441
15      vitals_Diastolic Blood Pressure Supine_avg            484
16       vitals_Diastolic Blood Pressure, Cuff_avg              4
17                          vitals_Eosinophils_avg              4
18                                  vitals_GGT_avg             16
19                             vitals_Globulin_avg             16
20                                   vitals_Hb_avg             10
21                                  vitals_Hct_avg              4
22                 vitals_Heart Rate Monitored_avg             10
23                           vitals_Heart Rate_avg            486
24                          vitals_Lymphocytes_avg              4
25                                 vitals_MCHC_avg              4
26                                  vitals_MCH_avg              4
27                                  vitals_MCV_avg              4
28                      vitals_Magnesium Level_avg             15
29         vitals_Mean Arterial Pressure, Cuff_avg             20
30   vitals_Mean Arterial Pressure, Invasive 2_avg            481
31     vitals_Mean Arterial Pressure, Invasive_avg            351
32                            vitals_Monocytes_avg              4
33                          vitals_Neutrophils_avg              4
34                      vitals_Phosphate Level_avg             14
35                            vitals_Platelets_avg              4
36                     vitals_Potassium Direct_avg            189
37                            vitals_Potassium_avg             10
38                                  vitals_RBC_avg              4
39                                  vitals_RDW_avg              4
40                     vitals_Respiratory Rate_avg              2
41                        vitals_Sodium Direct_avg            183
42                               vitals_Sodium_avg              9
43                                 vitals_SpO2_avg              2
44   vitals_Systolic Blood Pressure Invasive 2_avg            479
45        vitals_Systolic Blood Pressure Lying_avg            447
46      vitals_Systolic Blood Pressure Sitting_avg            426
47     vitals_Systolic Blood Pressure Standing_avg            449
48       vitals_Systolic Blood Pressure Supine_avg            484
49        vitals_Systolic Blood Pressure, Cuff_avg              4
50                 vitals_Temperature Axillary_avg            375
51           vitals_Temperature Nasoesophageal_avg            462
52                 vitals_Temperature Temporal_avg             12
53                 vitals_Temperature Tympanic_avg            322
54                             vitals_Total Hb_avg            186
55                        vitals_Total Protein_avg             16
56                                 vitals_Urea_avg              4
57                                  vitals_WBC_avg              5

    total_count  percentage_missing
0           487                0.00
1           487                3.29
2           487                4.11
3           487                3.08
4           487                0.82
5           487                0.82
6           487                3.70
7           487                2.87
8           487               37.58
9           487                1.85
10          487                0.82
11          487               98.15
12          487               93.02
13          487               88.50
14          487               90.55
15          487               99.38
16          487                0.82
17          487                0.82
18          487                3.29
19          487                3.29
20          487                2.05
21          487                0.82
22          487                2.05
23          487               99.79
24          487                0.82
25          487                0.82
26          487                0.82
27          487                0.82
28          487                3.08
29          487                4.11
30          487               98.77
31          487               72.07
32          487                0.82
33          487                0.82
34          487                2.87
35          487                0.82
36          487               38.81
37          487                2.05
38          487                0.82
39          487                0.82
40          487                0.41
41          487               37.58
42          487                1.85
43          487                0.41
44          487               98.36
45          487               91.79
46          487               87.47
47          487               92.20
48          487               99.38
49          487                0.82
50          487               77.00
51          487               94.87
52          487                2.46
53          487               66.12
54          487               38.19
55          487                3.29
56          487                0.82
57          487                1.03

2024-08-28 04:14:16,286 - EHR-QC - INFO - Dropping columns with above 30.0 % missingness
2024-08-28 04:14:16,505 - EHR-QC - INFO - Saving data to /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_dense.csv
2024-08-28 04:14:16,666 - EHR-QC - INFO - Done!!

0

## Impute Missing Data

In [14]:
import os

casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'


os.system(
    '''cd $EHR_QC_PREPROCESS_BASE;'''
    +
    '''.venv/bin/python -m ehrqc.impute.Impute ''' + casestudy1DirPath + '''/data_matrix_dense.csv -ac 'impute' -sp ''' + casestudy1DirPath + '''/data_matrix_imputed.csv -al mean -c "vitals_ALP_avg" "vitals_ALT_avg" "vitals_Albumin_avg" "vitals_Basophils_avg" "vitals_Bicarbonate_avg" "vitals_Bilirubin_avg" "vitals_Calcium_avg" "vitals_Chloride_avg" "vitals_Creatinine_avg" "vitals_Eosinophils_avg" "vitals_GGT_avg" "vitals_Globulin_avg" "vitals_Hb_avg" "vitals_Hct_avg" "vitals_Heart Rate Monitored_avg" "vitals_Lymphocytes_avg" "vitals_MCH_avg" "vitals_MCHC_avg" "vitals_MCV_avg" "vitals_Magnesium Level_avg" "vitals_Monocytes_avg" "vitals_Neutrophils_avg" "vitals_Phosphate Level_avg" "vitals_Platelets_avg" "vitals_Potassium_avg" "vitals_RBC_avg" "vitals_RDW_avg" "vitals_Respiratory Rate_avg" "vitals_Sodium_avg" "vitals_SpO2_avg" "vitals_Temperature Temporal_avg" "vitals_Total Protein_avg" "vitals_Urea_avg" "vitals_WBC_avg" "vitals_Systolic Blood Pressure, Cuff_avg" "vitals_Diastolic Blood Pressure, Cuff_avg" "vitals_Mean Arterial Pressure, Cuff_avg"'''
    )

2024-08-28 04:14:17,392 - EHR-QC - INFO - Parsing command line arguments
2024-08-28 04:14:17,393 - EHR-QC - INFO - args.action: impute
2024-08-28 04:14:17,393 - EHR-QC - INFO - args.source_path: /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_dense.csv
2024-08-28 04:14:17,393 - EHR-QC - INFO - args.percentage: None
2024-08-28 04:14:17,393 - EHR-QC - INFO - args.save_path: /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_imputed.csv
2024-08-28 04:14:17,393 - EHR-QC - INFO - args.algorithm: mean
2024-08-28 04:14:17,393 - EHR-QC - INFO - args.columns: ['vitals_ALP_avg', 'vitals_ALT_avg', 'vitals_Albumin_avg', 'vitals_Basophils_avg', 'vitals_Bicarbonate_avg', 'vitals_Bilirubin_avg', 'vitals_Calcium_avg', 'vitals_Chloride_avg', 'vitals_Creatinine_avg', 'vitals_Eosinophils_avg', 'vitals_GGT_avg', 'vitals_Globulin_avg', 'vitals_Hb_avg', 'vitals_Hct_avg', 'vitals_Heart Rate Monitored_avg', 'vitals_Lymphocytes_avg', 'vitals_MCH_avg', 'vitals_MCHC_avg', 'vitals_MCV_avg', 'vitals_Magnesium Level_avg', 'vitals_Monocytes_avg', 'vitals_Neutrophils_avg', 'vitals_Phosphate Level_avg', 'vitals_Platelets_avg', 'vitals_Potassium_avg', 'vitals_RBC_avg', 'vitals_RDW_avg', 'vitals_Respiratory Rate_avg', 'vitals_Sodium_avg', 'vitals_SpO2_avg', 'vitals_Temperature Temporal_avg', 'vitals_Total Protein_avg', 'vitals_Urea_avg', 'vitals_WBC_avg', 'vitals_Systolic Blood Pressure, Cuff_avg', 'vitals_Diastolic Blood Pressure, Cuff_avg', 'vitals_Mean Arterial Pressure, Cuff_avg']
2024-08-28 04:14:17,631 - EHR-QC - INFO - Done!!

0

## Remove outliers

In [15]:
import os

casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'


os.system(
    '''cd $EHR_QC_PREPROCESS_BASE;'''
    +
    '''.venv/bin/python -m ehrqc.plot.OutlierIsolationForest ''' + casestudy1DirPath + '''/data_matrix_imputed.csv ''' + casestudy1DirPath + '''/data_matrix_clean.csv clean -c "vitals_ALP_avg" "vitals_ALT_avg" "vitals_Albumin_avg" "vitals_Basophils_avg" "vitals_Bicarbonate_avg" "vitals_Bilirubin_avg" "vitals_Calcium_avg" "vitals_Chloride_avg" "vitals_Creatinine_avg" "vitals_Eosinophils_avg" "vitals_GGT_avg" "vitals_Globulin_avg" "vitals_Hb_avg" "vitals_Hct_avg" "vitals_Heart Rate Monitored_avg" "vitals_Lymphocytes_avg" "vitals_MCH_avg" "vitals_MCHC_avg" "vitals_MCV_avg" "vitals_Magnesium Level_avg" "vitals_Monocytes_avg" "vitals_Neutrophils_avg" "vitals_Phosphate Level_avg" "vitals_Platelets_avg" "vitals_Potassium_avg" "vitals_RBC_avg" "vitals_RDW_avg" "vitals_Respiratory Rate_avg" "vitals_Sodium_avg" "vitals_SpO2_avg" "vitals_Temperature Temporal_avg" "vitals_Total Protein_avg" "vitals_Urea_avg" "vitals_WBC_avg" "vitals_Systolic Blood Pressure, Cuff_avg" "vitals_Diastolic Blood Pressure, Cuff_avg" "vitals_Mean Arterial Pressure, Cuff_avg"'''
    )

2024-08-28 04:14:18,362 - EHR-QC - INFO - Parsing command line arguments
2024-08-28 04:14:18,363 - EHR-QC - INFO - args.source_file: /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_imputed.csv
2024-08-28 04:14:18,363 - EHR-QC - INFO - args.save_file: /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_clean.csv
2024-08-28 04:14:18,363 - EHR-QC - INFO - args.action: clean
2024-08-28 04:14:18,363 - EHR-QC - INFO - args.columns: ['vitals_ALP_avg', 'vitals_ALT_avg', 'vitals_Albumin_avg', 'vitals_Basophils_avg', 'vitals_Bicarbonate_avg', 'vitals_Bilirubin_avg', 'vitals_Calcium_avg', 'vitals_Chloride_avg', 'vitals_Creatinine_avg', 'vitals_Eosinophils_avg', 'vitals_GGT_avg', 'vitals_Globulin_avg', 'vitals_Hb_avg', 'vitals_Hct_avg', 'vitals_Heart Rate Monitored_avg', 'vitals_Lymphocytes_avg', 'vitals_MCH_avg', 'vitals_MCHC_avg', 'vitals_MCV_avg', 'vitals_Magnesium Level_avg', 'vitals_Monocytes_avg', 'vitals_Neutrophils_avg', 'vitals_Phosphate Level_avg', 'vitals_Platelets_avg', 'vitals_Potassium_avg', 'vitals_RBC_avg', 'vitals_RDW_avg', 'vitals_Respiratory Rate_avg', 'vitals_Sodium_avg', 'vitals_SpO2_avg', 'vitals_Temperature Temporal_avg', 'vitals_Total Protein_avg', 'vitals_Urea_avg', 'vitals_WBC_avg', 'vitals_Systolic Blood Pressure, Cuff_avg', 'vitals_Diastolic Blood Pressure, Cuff_avg', 'vitals_Mean Arterial Pressure, Cuff_avg']
2024-08-28 04:14:18,396 - EHR-QC - INFO - Validating the input arguments.
2024-08-28 04:14:18,397 - EHR-QC - INFO - Validating complete!!
2024-08-28 04:14:18,397 - EHR-QC - INFO - Removing outliers

/home/vmadmin/workspace/EHR-QC-Preprocess/ehrqc/plot/OutlierIsolationForest.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  correctedDf.drop(columns=['outlier_scores'], inplace=True)

2024-08-28 04:14:18,606 - EHR-QC - INFO - Saving the corrected file
2024-08-28 04:14:18,810 - EHR-QC - INFO - Done!!

0

## Add target labels

### Read cleaned data

In [16]:
import pandas as pd

casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'


dataDf = pd.read_csv(casestudy1DirPath + '''/data_matrix_clean.csv''')
dataDf

,patient_id,measurement_date,vitals_ALP_avg,vitals_ALT_avg,vitals_Albumin_avg,vitals_Basophils_avg,vitals_Bicarbonate_avg,vitals_Bilirubin_avg,vitals_Calcium_avg,vitals_Chloride_avg,...,vitals_Respiratory Rate_avg,vitals_Sodium_avg,vitals_SpO2_avg,vitals_Temperature Temporal_avg,vitals_Total Protein_avg,vitals_Urea_avg,vitals_WBC_avg,"vitals_Systolic Blood Pressure, Cuff_avg","vitals_Diastolic Blood Pressure, Cuff_avg","vitals_Mean Arterial Pressure, Cuff_avg"
0,41308,2021-05-31,200.000000,25.000000,26.000000,0.04,26.0,11.000000,2.191763,103.388509,...,26.0,137.410734,95.0,29.9,80.000000,9.7,15.98,121.0,55.0,82.000000
1,56749,2020-11-24,58.000000,13.000000,35.000000,0.02,28.0,5.000000,2.220000,102.000000,...,18.0,136.000000,100.0,37.4,63.000000,12.2,6.44,150.0,87.0,104.000000
2,56749,2021-07-29,125.000000,354.000000,30.000000,0.02,29.0,10.000000,2.390000,103.388509,...,15.0,144.000000,98.0,36.3,69.000000,25.5,5.18,191.0,85.0,122.000000
3,56749,2021-07-30,107.000000,264.000000,26.000000,0.03,26.0,8.000000,2.200000,103.000000,...,18.0,141.000000,95.0,36.2,59.000000,23.0,4.72,132.0,57.0,113.000000
4,56749,2021-07-31,127.025688,35.740125,27.285302,0.01,27.0,16.974972,2.220000,106.000000,...,18.0,142.000000,97.0,35.9,65.951456,15.8,6.67,123.0,56.0,114.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11682,2526936,2021-08-17,127.025688,35.740125,27.285302,0.01,33.0,16.974972,2.180000,98.000000,...,16.0,136.000000,96.0,36.5,65.951456,2.8,9.04,147.0,89.0,84.952515
11683,2526936,2021-08-18,188.000000,8.000000,19.000000,0.04,30.0,13.000000,2.150000,101.000000,...,20.0,137.000000,97.0,36.8,61.000000,2.6,9.34,165.0,85.0,106.000000
11684,2526936,2021-08-19,176.000000,8.000000,20.000000,0.02,27.0,15.000000,2.290000,100.000000,...,12.0,135.000000,98.0,36.5,66.000000,2.4,9.48,177.0,91.0,107.000000
11685,2526936,2021-08-21,127.025688,35.740125,27.285302,0.03,29.0,16.974972,2.191763,99.000000,...,16.0,134.000000,97.0,36.4,65.951456,2.5,6.84,161.0,94.0,113.000000
11686,2526936,2021-08-23,127.025688,35.740125,27.285302,0.04,29.0,16.974972,2.191763,99.000000,...,16.0,135.000000,98.0,36.7,65.951456,2.8,5.85,129.0,78.0,93.000000

### Read labels

In [17]:
import pandas as pd

casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'


labelsDf = pd.read_csv(casestudy1DirPath + '''/los_labels.csv''')
labelsDf = labelsDf.groupby('person_id').max().reset_index()
labelsDf

,person_id,los_gt_7_days,los_gt_14_days,los_gt_30_days,los_gt_60_days,los_gt_90_days
0,18849,0,0,0,0,0
1,41308,0,0,0,0,0
2,50056,1,1,0,0,0
3,51211,0,0,0,0,0
4,51541,1,0,0,0,0
...,...,...,...,...,...,...
2530,2678697,1,1,0,0,0
2531,2679272,1,1,0,0,0
2532,2680486,1,0,0,0,0
2533,2682433,0,0,0,0,0
2534,2684042,1,1,0,0,0

## Add admission time

### Read admission file

In [35]:
import pandas as pd

casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'


admissionsDf = pd.read_csv(casestudy1DirPath + '''/admissions.csv''')
admissionsDf.admittime = pd.to_datetime(admissionsDf.admittime, format='%Y-%m-%d %H:%M:%S.%f').dt.date
# admissionsDf = admissionsDf[['person_id', 'admittime']].drop_duplicates()
admissionsDf = admissionsDf[['person_id', 'admittime']].groupby('person_id').max().reset_index()
admissionsDf

      person_id   admittime
0         18849  2019-09-01
1         41308  2021-05-31
2         49412  2022-02-28
3         50056  2020-02-08
4         51211  2023-04-01
...         ...         ...
5213    2680034  2023-03-14
5214    2680486  2023-03-16
5215    2681377  2023-03-21
5216    2682433  2023-03-24
5217    2684042  2023-04-01

[5218 rows x 2 columns]

### Merge both dataframes

In [36]:
labelsMergedDf = dataDf.merge(
            labelsDf,
            how='inner',
            left_on='patient_id',
            right_on='person_id'
        ).drop(
            columns=['patient_id']
        ).merge(
            admissionsDf,
            how='inner',
            on='person_id'
        )
labelsMergedDf

,measurement_date,vitals_ALP_avg,vitals_ALT_avg,vitals_Albumin_avg,vitals_Basophils_avg,vitals_Bicarbonate_avg,vitals_Bilirubin_avg,vitals_Calcium_avg,vitals_Chloride_avg,vitals_Creatinine_avg,...,"vitals_Systolic Blood Pressure, Cuff_avg","vitals_Diastolic Blood Pressure, Cuff_avg","vitals_Mean Arterial Pressure, Cuff_avg",person_id,los_gt_7_days,los_gt_14_days,los_gt_30_days,los_gt_60_days,los_gt_90_days,admittime
0,2021-05-31,200.000000,25.000000,26.000000,0.04,26.0,11.000000,2.191763,103.388509,85.0,...,121.0,55.0,82.000000,41308,0,0,0,0,0,2021-05-31
1,2020-11-24,58.000000,13.000000,35.000000,0.02,28.0,5.000000,2.220000,102.000000,91.0,...,150.0,87.0,104.000000,56749,1,1,1,0,0,2021-07-30
2,2021-07-29,125.000000,354.000000,30.000000,0.02,29.0,10.000000,2.390000,103.388509,103.0,...,191.0,85.0,122.000000,56749,1,1,1,0,0,2021-07-30
3,2021-07-30,107.000000,264.000000,26.000000,0.03,26.0,8.000000,2.200000,103.000000,101.0,...,132.0,57.0,113.000000,56749,1,1,1,0,0,2021-07-30
4,2021-07-31,127.025688,35.740125,27.285302,0.01,27.0,16.974972,2.220000,106.000000,103.0,...,123.0,56.0,114.000000,56749,1,1,1,0,0,2021-07-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9725,2021-08-17,127.025688,35.740125,27.285302,0.01,33.0,16.974972,2.180000,98.000000,68.0,...,147.0,89.0,84.952515,2526936,1,1,1,0,0,2021-08-15
9726,2021-08-18,188.000000,8.000000,19.000000,0.04,30.0,13.000000,2.150000,101.000000,58.0,...,165.0,85.0,106.000000,2526936,1,1,1,0,0,2021-08-15
9727,2021-08-19,176.000000,8.000000,20.000000,0.02,27.0,15.000000,2.290000,100.000000,53.0,...,177.0,91.0,107.000000,2526936,1,1,1,0,0,2021-08-15
9728,2021-08-21,127.025688,35.740125,27.285302,0.03,29.0,16.974972,2.191763,99.000000,61.0,...,161.0,94.0,113.000000,2526936,1,1,1,0,0,2021-08-15
9729,2021-08-23,127.025688,35.740125,27.285302,0.04,29.0,16.974972,2.191763,99.000000,62.0,...,129.0,78.0,93.000000,2526936,1,1,1,0,0,2021-08-15

## Save final datamatrix

In [37]:
casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'

labelsMergedDf.to_csv(casestudy1DirPath + '/data_matrix_final.csv', index=False)

## Generate final report (summary report)

In [23]:
import os


casestudy1DirPath = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1'

os.system(
    'cd ' + os.environ['EHR_QC_PREPROCESS_BASE'] + ';'
    +
    '''.venv/bin/python -m ehrqc.plot.ExplorationGraphsPdf'''
    +
    ' ' + casestudy1DirPath + '' + '/summary_report.pdf'
    +
    ''' -c '{'''
    +
    ''' "ALP" : ["vitals_ALP_avg", "vitals_ALP_avg", "vitals_ALP_avg"],'''
    +
    ''' "ALT" : ["vitals_ALT_avg", "vitals_ALT_avg", "vitals_ALT_avg"],'''
    +
    ''' "Albumin" : ["vitals_Albumin_avg", "vitals_Albumin_avg", "vitals_Albumin_avg"],'''
    +
    ''' "Basophils" : ["vitals_Basophils_avg", "vitals_Basophils_avg", "vitals_Basophils_avg"],'''
    +
    ''' "Bicarbonate" : ["vitals_Bicarbonate_avg", "vitals_Bicarbonate_avg", "vitals_Bicarbonate_avg"],'''
    +
    ''' "Bilirubin" : ["vitals_Bilirubin_avg", "vitals_Bilirubin_avg", "vitals_Bilirubin_avg"],'''
    +
    ''' "Calcium" : ["vitals_Calcium_avg", "vitals_Calcium_avg", "vitals_Calcium_avg"],'''
    +
    ''' "Chloride" : ["vitals_Chloride_avg", "vitals_Chloride_avg", "vitals_Chloride_avg"],'''
    +
    ''' "Creatinine" : ["vitals_Creatinine_avg", "vitals_Creatinine_avg", "vitals_Creatinine_avg"],'''
    +
    ''' "Eosinophils" : ["vitals_Eosinophils_avg", "vitals_Eosinophils_avg", "vitals_Eosinophils_avg"],'''
    +
    ''' "GGT" : ["vitals_GGT_avg", "vitals_GGT_avg", "vitals_GGT_avg"],'''
    +
    ''' "Globulin" : ["vitals_Globulin_avg", "vitals_Globulin_avg", "vitals_Globulin_avg"],'''
    +
    ''' "Hb" : ["vitals_Hb_avg", "vitals_Hb_avg", "vitals_Hb_avg"],'''
    +
    ''' "Hct" : ["vitals_Hct_avg", "vitals_Hct_avg", "vitals_Hct_avg"],'''
    +
    ''' "Lymphocytes" : ["vitals_Lymphocytes_avg", "vitals_Lymphocytes_avg", "vitals_Lymphocytes_avg"],'''
    +
    ''' "MCH" : ["vitals_MCH_avg", "vitals_MCH_avg", "vitals_MCH_avg"],'''
    +
    ''' "MCHC" : ["vitals_MCHC_avg", "vitals_MCHC_avg", "vitals_MCHC_avg"],'''
    +
    ''' "MCV" : ["vitals_MCV_avg", "vitals_MCV_avg", "vitals_MCV_avg"],'''
    +
    ''' "Monocytes" : ["vitals_Monocytes_avg", "vitals_Monocytes_avg", "vitals_Monocytes_avg"],'''
    +
    ''' "Neutrophils" : ["vitals_Neutrophils_avg", "vitals_Neutrophils_avg", "vitals_Neutrophils_avg"],'''
    +
    ''' "Platelets" : ["vitals_Platelets_avg", "vitals_Platelets_avg", "vitals_Platelets_avg"],'''
    +
    ''' "Potassium" : ["vitals_Potassium_avg", "vitals_Potassium_avg", "vitals_Potassium_avg"],'''
    +
    ''' "RBC" : ["vitals_RBC_avg", "vitals_RBC_avg", "vitals_RBC_avg"],'''
    +
    ''' "RDW" : ["vitals_RDW_avg", "vitals_RDW_avg", "vitals_RDW_avg"],'''
    +
    ''' "Sodium" : ["vitals_Sodium_avg", "vitals_Sodium_avg", "vitals_Sodium_avg"],'''
    +
    ''' "SpO2" : ["vitals_SpO2_avg", "vitals_SpO2_avg", "vitals_SpO2_avg"],'''
    +
    ''' "Urea" : ["vitals_Urea_avg", "vitals_Urea_avg", "vitals_Urea_avg"],'''
    +
    ''' "WBC" : ["vitals_WBC_avg", "vitals_WBC_avg", "vitals_WBC_avg"]'''
    +
    ''' }' '''
    +
    ''' -sf ''' + casestudy1DirPath + '''/data_matrix_dense.csv ''' + casestudy1DirPath + '''/data_matrix_imputed.csv ''' + casestudy1DirPath + '''/data_matrix_final.csv'''
    +
    ''' -l "Raw" "Imputed" "Cleaned"'''
    )

2024-09-02 07:25:54,064 - EHR-QC - INFO - Parsing command line arguments
2024-09-02 07:25:54,065 - EHR-QC - INFO - args.save_path: /home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/summary_report.pdf
2024-09-02 07:25:54,065 - EHR-QC - INFO - args.columns: {'ALP': ['vitals_ALP_avg', 'vitals_ALP_avg', 'vitals_ALP_avg'], 'ALT': ['vitals_ALT_avg', 'vitals_ALT_avg', 'vitals_ALT_avg'], 'Albumin': ['vitals_Albumin_avg', 'vitals_Albumin_avg', 'vitals_Albumin_avg'], 'Basophils': ['vitals_Basophils_avg', 'vitals_Basophils_avg', 'vitals_Basophils_avg'], 'Bicarbonate': ['vitals_Bicarbonate_avg', 'vitals_Bicarbonate_avg', 'vitals_Bicarbonate_avg'], 'Bilirubin': ['vitals_Bilirubin_avg', 'vitals_Bilirubin_avg', 'vitals_Bilirubin_avg'], 'Calcium': ['vitals_Calcium_avg', 'vitals_Calcium_avg', 'vitals_Calcium_avg'], 'Chloride': ['vitals_Chloride_avg', 'vitals_Chloride_avg', 'vitals_Chloride_avg'], 'Creatinine': ['vitals_Creatinine_avg', 'vitals_Creatinine_avg', 'vitals_Creatinine_avg'], 'Eosinophils': ['vitals_Eosinophils_avg', 'vitals_Eosinophils_avg', 'vitals_Eosinophils_avg'], 'GGT': ['vitals_GGT_avg', 'vitals_GGT_avg', 'vitals_GGT_avg'], 'Globulin': ['vitals_Globulin_avg', 'vitals_Globulin_avg', 'vitals_Globulin_avg'], 'Hb': ['vitals_Hb_avg', 'vitals_Hb_avg', 'vitals_Hb_avg'], 'Hct': ['vitals_Hct_avg', 'vitals_Hct_avg', 'vitals_Hct_avg'], 'Lymphocytes': ['vitals_Lymphocytes_avg', 'vitals_Lymphocytes_avg', 'vitals_Lymphocytes_avg'], 'MCH': ['vitals_MCH_avg', 'vitals_MCH_avg', 'vitals_MCH_avg'], 'MCHC': ['vitals_MCHC_avg', 'vitals_MCHC_avg', 'vitals_MCHC_avg'], 'MCV': ['vitals_MCV_avg', 'vitals_MCV_avg', 'vitals_MCV_avg'], 'Monocytes': ['vitals_Monocytes_avg', 'vitals_Monocytes_avg', 'vitals_Monocytes_avg'], 'Neutrophils': ['vitals_Neutrophils_avg', 'vitals_Neutrophils_avg', 'vitals_Neutrophils_avg'], 'Platelets': ['vitals_Platelets_avg', 'vitals_Platelets_avg', 'vitals_Platelets_avg'], 'Potassium': ['vitals_Potassium_avg', 'vitals_Potassium_avg', 'vitals_Potassium_avg'], 'RBC': ['vitals_RBC_avg', 'vitals_RBC_avg', 'vitals_RBC_avg'], 'RDW': ['vitals_RDW_avg', 'vitals_RDW_avg', 'vitals_RDW_avg'], 'Sodium': ['vitals_Sodium_avg', 'vitals_Sodium_avg', 'vitals_Sodium_avg'], 'SpO2': ['vitals_SpO2_avg', 'vitals_SpO2_avg', 'vitals_SpO2_avg'], 'Urea': ['vitals_Urea_avg', 'vitals_Urea_avg', 'vitals_Urea_avg'], 'WBC': ['vitals_WBC_avg', 'vitals_WBC_avg', 'vitals_WBC_avg']}
2024-09-02 07:25:54,065 - EHR-QC - INFO - args.source_file_list: ['/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_dense.csv', '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_imputed.csv', '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/data_matrix_final.csv']
2024-09-02 07:25:54,065 - EHR-QC - INFO - args.labels: ['Raw', 'Imputed', 'Cleaned']
2024-09-02 07:25:54,065 - EHR-QC - INFO - Reading the source files
2024-09-02 07:25:54,151 - EHR-QC - INFO - Plotting: ALP
2024-09-02 07:25:54,544 - EHR-QC - INFO - Plotting: ALT
2024-09-02 07:25:54,851 - EHR-QC - INFO - Plotting: Albumin
2024-09-02 07:25:55,167 - EHR-QC - INFO - Plotting: Basophils
2024-09-02 07:25:55,510 - EHR-QC - INFO - Plotting: Bicarbonate
2024-09-02 07:25:55,824 - EHR-QC - INFO - Plotting: Bilirubin
2024-09-02 07:25:56,137 - EHR-QC - INFO - Plotting: Calcium
2024-09-02 07:25:56,365 - EHR-QC - INFO - Plotting: Chloride
2024-09-02 07:25:56,646 - EHR-QC - INFO - Plotting: Creatinine
2024-09-02 07:25:57,050 - EHR-QC - INFO - Plotting: Eosinophils
2024-09-02 07:25:57,427 - EHR-QC - INFO - Plotting: GGT
2024-09-02 07:25:57,689 - EHR-QC - INFO - Plotting: Globulin
2024-09-02 07:25:57,988 - EHR-QC - INFO - Plotting: Hb
2024-09-02 07:25:58,355 - EHR-QC - INFO - Plotting: Hct
2024-09-02 07:25:58,660 - EHR-QC - INFO - Plotting: Lymphocytes
2024-09-02 07:25:58,971 - EHR-QC - INFO - Plotting: MCH
2024-09-02 07:25:59,281 - EHR-QC - INFO - Plotting: MCHC
2024-09-02 07:25:59,639 - EHR-QC - INFO - Plotting: MCV
2024-09-02 07:25:59,943 - EHR-QC - INFO - Plotting: Monocytes
2024-09-02 07:26:00,263 - EHR-QC - INFO - Plotting: Neutrophils
2024-09-02 07:26:00,567 - EHR-QC - INFO - Plotting: Platelets

/home/vmadmin/workspace/EHR-QC-Preprocess/ehrqc/plot/ExplorationGraphsPdf.py:38: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`). Consider using `matplotlib.pyplot.close()`.
  fig, ax = plt.subplots()

2024-09-02 07:26:00,910 - EHR-QC - INFO - Plotting: Potassium
2024-09-02 07:26:01,288 - EHR-QC - INFO - Plotting: RBC
2024-09-02 07:26:01,661 - EHR-QC - INFO - Plotting: RDW
2024-09-02 07:26:01,967 - EHR-QC - INFO - Plotting: Sodium
2024-09-02 07:26:02,327 - EHR-QC - INFO - Plotting: SpO2
2024-09-02 07:26:02,689 - EHR-QC - INFO - Plotting: Urea
2024-09-02 07:26:03,010 - EHR-QC - INFO - Plotting: WBC
2024-09-02 07:26:03,373 - EHR-QC - INFO - Saving the pdf
2024-09-02 07:26:03,379 - EHR-QC - INFO - Done!!

0